// variables
$tablet: 768px;

//mixin
@mixin tablet {
  @media (min-width:#{$tablet}) {
    @content;
  }
}

.banner-intro {
  height: calc(100vh - 83.53px);
  width: 100%;
  background-color: rgba($color: #000000, $alpha: 0.8);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;
  position: relative;

  .slider-btn {
    width: 100%;
    height: 30px;
    position: absolute;
    top: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    z-index: 1;

    @include tablet() {
      padding: 0 30px;
    }

    .btn {
      width: 38px;
      height: 38px;
      border-radius: 50%;
      background-color: white;
      display: flex;
      align-items: center;
      justify-content: center;

      @include tablet() {
        width: 50px;
        height: 50px;
      }

      p {
        font-size: 26px;
        cursor: pointer;

        @include tablet() {
          font-size: 36px;
        }
      }
    }
  }

  .intro-content {
    width: 90%;
    color: white;
    margin: 0 auto;
    transform: translateY(50px);

    // media query
    @include tablet() {
      transform: translateY(150px);
    }

    h1 {
      width: 100%;
      margin: 0 auto;
      text-align: center;
      font-size: 30px;
      line-height: 60px;

      span {
        display: block;
        font-weight: 400;
        color: rgb(255, 196, 0);

        @include tablet() {
          font-size: 28px;
        }
      }
      @include tablet() {
        font-size: 54px;
      }
    }

    .link-btn {
      width: 65%;
      margin: 20px auto;
      // media query
      @include tablet() {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 35%;
      }

      button {
        display: block;
        background-color: transparent;
        padding: 10px 12px;
        border: 2px solid white;
        border-radius: 5px;
        color: white;
        font-size: 18px;
        cursor: pointer;
        margin: 15px auto;
      }
      button:hover {
        background-color: rgb(255, 196, 0);
        border: none;
        color: black;
      }
    }
  }
}

.features {
  width: 90%;
  margin: 30px auto;
  text-align: center;
  @include tablet() {
    width: 70%;
  }

  h3 {
    color: rgb(10, 112, 245);
    font-size: 36px;
    margin: 0;
    position: relative;
  }

  h3::after {
    content: "";
    width: 30%;
    left: 10vw;
    bottom: 0px;
    position: absolute;
    height: 5px;
    background-color: rgb(10, 112, 245);

    @include tablet() {
      width: 20%;
      left: 20vw;
    }
  }
  .learners {
    h4 {
      color: rgb(77, 75, 75);
      font-size: 25px;
    }

    p {
      color: rgb(77, 75, 75);
      line-height: 35px;
      text-align: left;
    }
    button {
      width: 70%;
      display: inline-block;
      margin: 20px auto;
      border: none;
      background-color: rgb(10, 112, 245);
      color: white;
      border: 6px;
      padding: 10px 15px;
      font-size: 18px;
      cursor: pointer;
      text-transform: capitalize;
      border-radius: 8px;

      @include tablet() {
        width: 25%;
      }
    }
  }
  .sponsor {
    h4 {
      color: rgb(77, 75, 75);
      font-size: 25px;
    }
    p {
      color: rgb(77, 75, 75);
      line-height: 35px;
      text-align: left;
    }
    button {
      width: 50%;
      display: inline-block;
      margin: 20px auto;
      border: none;
      background-color: rgb(10, 112, 245);
      color: white;
      border: 6px;
      padding: 10px 15px;
      font-size: 18px;
      text-transform: capitalize;
      cursor: pointer;
      border-radius: 8px;

      @include tablet() {
        width: 25%;
      }
    }
  }
}

.testimonials {
  margin: 20px 0;
  background-color: lighten(rgb(10, 112, 245), 40%);
  padding: 20px 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;

  .card-group {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    margin: 20px auto;

    @include tablet() {
      flex-direction: row;
      width: 70%;
    }

    .test-card {
      width: 300px;
      border-radius: 10px;
      margin-bottom: 10px;
      
       @include tablet(){
         margin-right: 15px;
       }
      .head {
        display: flex;
        align-items: center;
        margin-bottom: 10px;

        img {
          border-radius: 50%;
        }

        h4 {
          color: rgb(10, 112, 245);
          margin: 0 0 0 10px;
        }
      }

      .body {
        background-color: white;
        color: rgb(10, 112, 245);
        padding: 10px 12px;
        border-radius: 10px;
      }
    }
  }

  h3 {
    color: rgb(10, 112, 245);
  }
}

.partner {
  width: 90%;
  margin: 30px auto;

  @include tablet() {
    width: 70%;
  }
  h4 {
    text-align: center;
    color: rgb(10, 112, 245);
    text-transform: uppercase;
    font-weight: 500;
  }
  .img {
    width: 100%;
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
      width: 20%;
      height: 20%;
      margin: auto;

      @include tablet() {
        width: 10%;
        height: 10%;
      }
    }
  }
}
