<ul class="card-list">
  <li class="card">
    <img src="../../../../assets/pexels-pixabay-4158.jpg" alt="course image" />
    <div class="body">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    </div>
  </li>
  <li class="card">
    <img src="../../../../assets/pexels-pixabay-4158.jpg" alt="course image" />
    <div class="body">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    </div>
  </li>
  <li class="card">
    <img src="../../../../assets/pexels-pixabay-4158.jpg" alt="course image" />
    <div class="body">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    </div>
  </li>
</ul>
