.card-list {
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-template-rows: auto;
  gap: 10px;
  .card {
    img {
      width: 50%;
      height: 50%;
      margin: auto;
    }
  }
}
