<ul class="card-list">
    <li class="card">
        <img src="../../../../assets/img-03.jpg" alt="course image">
        <div class="body">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
    </li>
    <li class="card">
        <img src="../../../../assets/img-03.jpg" alt="course image">
        <div class="body">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
    </li>
    <li class="card">
        <img src="../../../../assets/img-03.jpg" alt="course image">
        <div class="body">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
    </li>
</ul>

