//variable
$tablet: 768px;

//mixin
@mixin tablet {
  @media (min-width:#{$tablet}) {
    @content;
  }
}
nav {
  background-color: rgb(10, 112, 245);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 30px;
  position: relative;

  ul {
    padding: 0;
    width: 100%;
    transition: height 0.6s;
    overflow-y: hidden;
    display: block;
    position: absolute;
    top: 60px;
    left: 0;
    margin: 0 auto;
    z-index: 10;
    background-color: rgb(10, 112, 245);
    padding: 10px 0;

    @include tablet() {
      display: flex;
      position: relative;
      background-color: rgb(10, 112, 245);
      right: 0;
      top: 0;
      width: 40%;
      height: fit-content !important;
      margin: 0;
      overflow-y: visible;
      justify-content: space-between;
    }

    li {
      margin: 10px 0;
      text-align: center;
      // media query
      @include tablet() {
        margin: 0px;
      }
    }

    li:first-child {
      border-top: 2px solid white;
      // media query
      @include tablet() {
        border-top: none;
      }
    }

    li a {
      color: white;
      cursor: pointer;
      text-decoration: none;
      display: block;
      padding: 10px;
      // media query
      @include tablet() {
        padding: 5px 10px;
      }
    }

    li a:hover {
      color: rgb(255, 196, 0);
    }
  }

  .hamburger {
    cursor: pointer;
    // media query
    @include tablet() {
      display: none;
    }
    .dash {
      width: 25px;
      height: 3px;
      border-radius: 10px;
      background: white;
      margin: 5px 0;
      // media query
      @include tablet() {
        display: none;
      }
    }
  }
}

footer {
  background-color: darken(rgb(10, 112, 245), 30%);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  padding: 10px;
  // media query
  @include tablet() {
    flex-direction: row;
    padding: 10px 30px;
  }

  .logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    p {
      margin-left: 20px;
    }
  }

  ul {
    display: flex;
    padding: 0;
    align-items: center;
    justify-content: space-between;

    li a {
      color: white;
      text-decoration: none;
      padding: 0 10px;
      border-right: 2px solid white;
    }
  }
}
