// variable

$tablet: 768px;

// mixin

@mixin tablet {
  @media (min-width:#{$tablet}) {
    @content;
  }
}

main {
  width: 90%;
  margin: 0 auto;
  color: rgb(44, 43, 43);

  @include tablet() {
    width: 80%;
  }

  h1 {
    color: red;
    text-align: center;
  }
  h3 {
    text-align: center;
    color: rgb(56, 56, 56);
  }

  ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid rgb(10, 112, 245);

    @include tablet() {
      flex-direction: row;
    }

    li {
      color: rgb(10, 112, 245);
      cursor: pointer;
      padding: 8px ;
    }

    .active{
      background-color:rgb(10, 112, 245) ;
      color:white;
    }
  }

  form {
    margin-top: 80px;
    width: 100%;
    .form-group {
      margin: 20px 0;

      label {
        font-size: 20px;
        color: rgb(56, 56, 56);
        font-weight: 700;
        span {
          color: red;
        }
      }

      input {
        display: block;
        padding: 10px;
        border-radius: 10px;
        width: 100%;
        border: 1px solid rgb(56, 56, 56);
        margin: 10px 0;
        @include tablet() {
          width: 60%;
        }
      }
    }

    input[type="submit"] {
      display: block;
      background-color: rgb(10, 112, 245);
      color: white;
      width: 60%;
      margin: 20px auto;
      font-size: 18px;
      padding: 6px 10px;
      border: none;
      border-radius: 10px;

      @include tablet() {
        width: 40%;
        margin: 20px 0;
      }
    }
  }
}
