/* You can add global styles to this file, and also import other style files */


*{
    list-style: none;
    box-sizing: border-box;
    font-family:Poppins;
}
body{
    margin: 0;
    padding: 0;
    
}